
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// materialize.scss
@import '~materialize-css/sass/materialize.scss';

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/vendor/materialize/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.no-mb {
    margin-bottom: -20px;
}

.no-mt {
    margin-top: 0;
}

.sidenav-overlay {
    z-index: 996 !important;
}

@media screen and (min-width: 853px) {
    .my-img-bottom {
        position: relative;
        min-height: 555px !important;
    }
    .my-img-bottom img {
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    #about {
        margin-bottom: -26px;
    }
}

.modal {
    max-height: 88%;
}


/*.modal-form-row {
  margin-bottom: 0px;
}*/

.pt_30 {
    padding-top: 30px;
}

.pb_30 {
	padding-bottom: 30px;
}

.uppercase-text {
    text-transform: uppercase;
}

#login-section {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,4697c9+40,0459a3+100 */
background: #87e0fd; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #87e0fd 0%, #4697c9 40%, #0459a3 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #87e0fd 0%,#4697c9 40%,#0459a3 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #87e0fd 0%,#4697c9 40%,#0459a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#0459a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.profile-user-info img {
    border: 2px solid white;
}

// .fixed-action-btn {
//   position: fixed;
//   left: 39px;
//   top: 43px;
// }